<h1 class="page-title">Sign Up</h1>

{{#if data.error}}
  <div class="error">{{ data.error }}</div>
{{/if}}

{{#if data.info}}
<div class="info">{{ data.info }}</div>
{{/if}}

<form action="/signup" method="post">
<div>
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value={{ data.username }}>
</div>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" value={{ data.password }}>
</div>
<button type="submit">Sign Up</button>
</form>

{{ data.msg }}

<div class="form-redirect">Already have an account? <a href="/login">Login</a></div>
